####################################
# Python
####################################

__pycache__/
*.py[cod]
*.pyo
*.pyd

####################################
# Virtualenv
####################################

.venv/
venv/
env/

####################################
# IDE
####################################

.idea/
.vscode/

####################################
# Environment
####################################

.env

####################################
# Logs
####################################

logs/

*.log

####################################
# pytest
####################################

.pytest_cache/

####################################
# mypy
####################################

.mypy_cache/

####################################
# OS
####################################

.DS_Store

Thumbs.db

####################################
# Distribution
####################################

build/

dist/

*.egg-info/

####################################
# Coverage
####################################

.coverage

htmlcov/